In [19]:
import pandas as pd
train =pd.read_csv('train.csv',index_col=0)
test =pd.read_csv('test.csv',index_col=0)

In [20]:

#train['Attrition'].value_counts()
train.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
user_id,,,,,,,,,,,,,,,,,,,,,
1374,58,No,Travel_Rarely,605,Sales,21,3,Life Sciences,1,1938,...,3,80,1,29,2,2,1,0,0,0
1092,45,No,Travel_Rarely,950,Research & Development,28,3,Technical Degree,1,1546,...,4,80,1,8,3,3,5,4,0,3
768,40,No,Travel_Rarely,300,Sales,26,3,Marketing,1,1066,...,2,80,1,8,3,2,7,7,7,5
569,36,No,Non-Travel,1434,Sales,8,4,Life Sciences,1,789,...,2,80,0,10,1,3,10,7,0,9
911,25,Yes,Travel_Frequently,599,Sales,24,1,Life Sciences,1,1273,...,4,80,0,1,4,3,1,0,1,0

In [21]:
train=train.drop(['EmployeeNumber','StandardHours'],axis=1)
test=test.drop(['EmployeeNumber','StandardHours'],axis=1)

In [22]:
from sklearn.preprocessing import LabelEncoder
train['Attrition']=train['Attrition'].map(lambda x:1 if x=='Yes' else 0)
attr=['Age','BusinessTravel','Department','Education','EducationField','Gender','JobRole','MaritalStatus','Over18','OverTime']
lbe_list=[]
for feature in attr:
    lbe=LabelEncoder()
    train[feature]=lbe.fit_transform(train[feature])
    test[feature]=lbe.transform(test[feature])

In [23]:
from sklearn.model_selection import  train_test_split
train_x,test_x,train_y,test_y=train_test_split(train.drop(['Attrition'],axis=1),train['Attrition'],test_size=0.2)

In [38]:
#å½’ä¸€åŒ–ï¼š
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler(feature_range=(0, 1))
train_x = mms.fit_transform(train_x)
test_x = mms.fit_transform(test_x)
test = mms.fit_transform(test)

In [45]:
from sklearn.linear_model.logistic import LogisticRegression
LR=LogisticRegression(max_iter=100, 
                           verbose=True,
                           tol=1e-4
                          )
LR.fit(train_x,train_y)
predic_y=LR.predict(test_x)

from sklearn.metrics import accuracy_score
accuracy_score(predic_y,test_y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

0.8601694915254238

In [18]:
pre=LR.predict_proba(test)[:,1]

In [11]:
test['Attrition']=pre
test['Attrition'].to_csv('LR_Subm.csv')

D:\anocconda3-5.20\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.