In [ ]:
import pandas as pd

In [3]:
train = pd.read_csv('../Attrition/train.csv', index_col=0)
test = pd.read_csv('../Attrition/test.csv', index_col=0)

train.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
user_id,,,,,,,,,,,,,,,,,,,,,
1374,58,No,Travel_Rarely,605,Sales,21,3,Life Sciences,1,1938,...,3,80,1,29,2,2,1,0,0,0
1092,45,No,Travel_Rarely,950,Research & Development,28,3,Technical Degree,1,1546,...,4,80,1,8,3,3,5,4,0,3
768,40,No,Travel_Rarely,300,Sales,26,3,Marketing,1,1066,...,2,80,1,8,3,2,7,7,7,5
569,36,No,Non-Travel,1434,Sales,8,4,Life Sciences,1,789,...,2,80,0,10,1,3,10,7,0,9
911,25,Yes,Travel_Frequently,599,Sales,24,1,Life Sciences,1,1273,...,4,80,0,1,4,3,1,0,1,0

In [112]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1176 entries, 1374 to 684
Data columns (total 35 columns):
Age                         1176 non-null int64
Attrition                   1176 non-null object
BusinessTravel              1176 non-null object
DailyRate                   1176 non-null int64
Department                  1176 non-null object
DistanceFromHome            1176 non-null int64
Education                   1176 non-null int64
EducationField              1176 non-null object
EmployeeCount               1176 non-null int64
EmployeeNumber              1176 non-null int64
EnvironmentSatisfaction     1176 non-null int64
Gender                      1176 non-null object
HourlyRate                  1176 non-null int64
JobInvolvement              1176 non-null int64
JobLevel                    1176 non-null int64
JobRole                     1176 non-null object
JobSatisfaction             1176 non-null int64
MaritalStatus               1176 non-null object
MonthlyIncome               1176 non-null int64
MonthlyRate                 1176 non-null int64
NumCompaniesWorked          1176 non-null int64
Over18                      1176 non-null object
OverTime                    1176 non-null object
PercentSalaryHike           1176 non-null int64
PerformanceRating           1176 non-null int64
RelationshipSatisfaction    1176 non-null int64
StandardHours               1176 non-null int64
StockOptionLevel            1176 non-null int64
TotalWorkingYears           1176 non-null int64
TrainingTimesLastYear       1176 non-null int64
WorkLifeBalance             1176 non-null int64
YearsAtCompany              1176 non-null int64
YearsInCurrentRole          1176 non-null int64
YearsSinceLastPromotion     1176 non-null int64
YearsWithCurrManager        1176 non-null int64
dtypes: int64(26), object(9)
memory usage: 330.8+ KB

In [113]:
train['Attrition'] = train['Attrition'].map(lambda x : 1 if x =='Yes' else 0)
train.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
user_id,,,,,,,,,,,,,,,,,,,,,
1374,58,0,Travel_Rarely,605,Sales,21,3,Life Sciences,1,1938,...,3,80,1,29,2,2,1,0,0,0
1092,45,0,Travel_Rarely,950,Research & Development,28,3,Technical Degree,1,1546,...,4,80,1,8,3,3,5,4,0,3
768,40,0,Travel_Rarely,300,Sales,26,3,Marketing,1,1066,...,2,80,1,8,3,2,7,7,7,5
569,36,0,Non-Travel,1434,Sales,8,4,Life Sciences,1,789,...,2,80,0,10,1,3,10,7,0,9
911,25,1,Travel_Frequently,599,Sales,24,1,Life Sciences,1,1273,...,4,80,0,1,4,3,1,0,1,0

In [114]:
train = train.drop(['EmployeeNumber','StandardHours'], axis=1)
test = test.drop(['EmployeeNumber','StandardHours'], axis=1)
train.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
user_id,,,,,,,,,,,,,,,,,,,,,
1374,58,0,Travel_Rarely,605,Sales,21,3,Life Sciences,1,4,...,3,3,1,29,2,2,1,0,0,0
1092,45,0,Travel_Rarely,950,Research & Development,28,3,Technical Degree,1,4,...,4,4,1,8,3,3,5,4,0,3
768,40,0,Travel_Rarely,300,Sales,26,3,Marketing,1,3,...,3,2,1,8,3,2,7,7,7,5
569,36,0,Non-Travel,1434,Sales,8,4,Life Sciences,1,1,...,3,2,0,10,1,3,10,7,0,9
911,25,1,Travel_Frequently,599,Sales,24,1,Life Sciences,1,3,...,3,4,0,1,4,3,1,0,1,0

In [115]:
from sklearn.preprocessing import LabelEncoder

features = [
    'Age',
    'BusinessTravel',
    'Department',
    'EducationField',
    'Gender',
    'JobRole',
    'MaritalStatus',
    'Over18',
    'OverTime'
]

for f in features:
    labelEncoder = LabelEncoder()
    train[f] = labelEncoder.fit_transform(train[f])
    test[f] = labelEncoder.transform(test[f])

train.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
user_id,,,,,,,,,,,,,,,,,,,,,
1374,40,0,2,605,2,21,3,1,1,4,...,3,3,1,29,2,2,1,0,0,0
1092,27,0,2,950,1,28,3,5,1,4,...,4,4,1,8,3,3,5,4,0,3
768,22,0,2,300,2,26,3,2,1,3,...,3,2,1,8,3,2,7,7,7,5
569,18,0,0,1434,2,8,4,1,1,1,...,3,2,0,10,1,3,10,7,0,9
911,7,1,1,599,2,24,1,1,1,3,...,3,4,0,1,4,3,1,0,1,0

In [116]:
# train = train.drop(['YearsInCurrentRole', 'PerformanceRating'], axis=1)
# test = test.drop(['YearsInCurrentRole', 'PerformanceRating'], axis=1)

In [117]:
from sklearn.linear_model.logistic import LogisticRegression
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(
    train.drop('Attrition', axis=1), 
    train['Attrition'], 
    test_size=0.2, 
    random_state=42
)

In [118]:
model = LogisticRegression(
    max_iter=100,
    verbose=True,
    random_state=33,
    tol=1e-4,
)
model.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
/Users/l.longfeng/miniconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=33, solver='lbfgs', tol=0.0001, verbose=True,
                   warm_start=False)

In [119]:
predict = model.predict_proba(test)[:, 1]

array([0.11381855, 0.33720084, 0.23743899, 0.08701822, 0.34175775,
       0.20511649, 0.0901124 , 0.07253059, 0.03188493, 0.22438963,
       0.03210373, 0.331435  , 0.06243883, 0.13539117, 0.07314603,
       0.09886416, 0.09182796, 0.12335792, 0.10816683, 0.27529899,
       0.18136987, 0.02020183, 0.10509172, 0.18852508, 0.33718614,
       0.09003974, 0.20375038, 0.05237771, 0.27244249, 0.14293577,
       0.03583771, 0.04858258, 0.19441225, 0.06446395, 0.11711603,
       0.04816983, 0.09110563, 0.19586488, 0.06233197, 0.28520406,
       0.0555048 , 0.08777348, 0.0246706 , 0.02786252, 0.04790399,
       0.23841862, 0.27644146, 0.04558507, 0.21455721, 0.19614019,
       0.1075337 , 0.18232203, 0.11888966, 0.07765051, 0.15126211,
       0.13100094, 0.1549989 , 0.1546055 , 0.13098346, 0.25179961,
       0.06235576, 0.25733325, 0.05655026, 0.05138479, 0.28216963,
       0.10461422, 0.12235726, 0.12027047, 0.12982801, 0.18698288,
       0.03719079, 0.28344122, 0.20137337, 0.21645906, 0.16137784,
       0.27284341, 0.23691916, 0.06994748, 0.2697183 , 0.05700062,
       0.03306884, 0.04781838, 0.18588787, 0.09328079, 0.11360958,
       0.0995132 , 0.01489902, 0.09940662, 0.07620479, 0.17445032,
       0.29098976, 0.20647071, 0.29202516, 0.21570271, 0.05675853,
       0.2961304 , 0.38394379, 0.22746111, 0.16489031, 0.07392282,
       0.20081261, 0.37063609, 0.05531006, 0.11141989, 0.1399424 ,
       0.1006368 , 0.06970134, 0.24442391, 0.25362467, 0.1024488 ,
       0.08509922, 0.01855795, 0.10826108, 0.13564518, 0.12049794,
       0.08344281, 0.03266153, 0.09880335, 0.03258972, 0.05767455,
       0.29636158, 0.12651773, 0.09756019, 0.43318261, 0.14291394,
       0.01590168, 0.06141375, 0.16639378, 0.18326518, 0.04304078,
       0.02323983, 0.21240701, 0.19621537, 0.09904928, 0.09897529,
       0.0538875 , 0.18978443, 0.12467758, 0.12934094, 0.0863749 ,
       0.10526396, 0.10329171, 0.0854021 , 0.08814562, 0.07299209,
       0.12767177, 0.03751099, 0.00842117, 0.04479133, 0.09940216,
       0.095228  , 0.07922022, 0.16066832, 0.00758477, 0.03115006,
       0.05994038, 0.04190817, 0.17614888, 0.06666668, 0.0461108 ,
       0.03725635, 0.02432258, 0.24338868, 0.34019322, 0.11139979,
       0.25007688, 0.05765186, 0.23842423, 0.24271419, 0.02529808,
       0.10679866, 0.10748979, 0.15837932, 0.30346289, 0.01995467,
       0.21278183, 0.16142577, 0.02287642, 0.16110613, 0.10796431,
       0.20525486, 0.0871279 , 0.02925586, 0.29325866, 0.14036168,
       0.12744814, 0.29288073, 0.04481634, 0.41164886, 0.23756528,
       0.33433133, 0.20102475, 0.17225126, 0.1498396 , 0.21726369,
       0.06749397, 0.06979234, 0.08444478, 0.25619629, 0.06297031,
       0.11980473, 0.22146279, 0.30751883, 0.15029807, 0.31419105,
       0.1568101 , 0.24029713, 0.03912511, 0.13633485, 0.05519993,
       0.13461417, 0.2245575 , 0.12044893, 0.13623424, 0.13373258,
       0.10888334, 0.01857755, 0.15193056, 0.07889309, 0.18627776,
       0.14455297, 0.22394046, 0.39957652, 0.03561786, 0.14325056,
       0.18455198, 0.30599171, 0.13527624, 0.2809832 , 0.07002446,
       0.03095289, 0.21058033, 0.12863286, 0.12215248, 0.09054952,
       0.18431189, 0.28104621, 0.07885562, 0.13684556, 0.07785307,
       0.14529431, 0.18764339, 0.01275366, 0.13869579, 0.05904284,
       0.08835164, 0.14619637, 0.18496478, 0.07933853, 0.05136422,
       0.34330035, 0.05443323, 0.51169699, 0.09478726, 0.13292871,
       0.17870116, 0.00936233, 0.27294251, 0.35085916, 0.13225146,
       0.14164421, 0.07621262, 0.0904469 , 0.15018553, 0.08454614,
       0.22234723, 0.06134929, 0.1281759 , 0.20024384, 0.13827508,
       0.11850211, 0.05327891, 0.26923751, 0.16719832, 0.09501512,
       0.05443409, 0.06250094, 0.10441665, 0.31692208, 0.17283119,
       0.15778027, 0.11069723, 0.16658737, 0.08406018, 0.00534072,
       0.16873355, 0.05197815, 0.2033292 , 0.01218919, 0.05663198,
       0.13351135, 0.12006406, 0.17460693, 0.19455225])

In [122]:
test['Attrition']=predict
# test[['Attrition']].head()

ValueError: Found input variables with inconsistent numbers of samples: [236, 294]

In [121]:
test[['Attrition']].to_csv('./Submission.csv')